<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
	<title>CONCESIONARIO</title>
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
	<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
</head>

<body class="card-body">
	<div class="card text-white bg-dark mb-3">
		<div class="card-header">Datos del nuevo paciente</div>
		<div class="card-body">
			<form th:action="@{/actAddPaciente}" th:object="${newPaciente}" method="POST">
				<div class="form-group">
					<label for="inpName">Nombre</label>
					<input type="text" required="required" class="form-control" id="inpName" name="nombre"
						placeholder="Nombre.">
				</div>
				<div class="form-group">
					<label for="inpApellido">Apellido</label>
					<input type="text" required="required" class="form-control" id="inpApellido" name="apellido"
						placeholder="Apellido.">
				</div>
				<div class="form-group">
					<label for="inpCP">Código Postal</label>
					<input type="number" required="required" class="form-control" id="inpCP" name="codigopostal"
						placeholder="Código Postal.">
				</div>
				<div class="form-group">
					<label for="inpDireccion">Dirección</label>
					<input required="required" type="text" class="form-control" id="inpDireccion" name="direccion"
						placeholder="Dirección.">
				</div>
				<div class="form-group">
					<label for="inpDate">Fecha Nacimiento</label>
					<input required="required" type="date" class="form-control" id="inpDate" name="fechanacimiento"
						placeholder="Dirección.">
				</div>
				<div class="form-group">
					<label for="inpPoblacion">Población</label>
					<input required="required" type="text" class="form-control" id="inpPoblacion" name="poblacion"
						placeholder="Población.">
				</div>
				<div class="form-group">
					<label for="inpProvincia">Provincia</label>
					<input required="required" type="text" class="form-control" id="inpProvincia" name="provincia"
						placeholder="Provincia.">
				</div>
				<div class="form-group">
					<label for="inpPhone">Teléfono</label>
					<input required="required" type="text" class="form-control" id="inpPhone" name="telefono"
						placeholder="Teléfono.">
				</div>

				<button type="submit" name="btnAddPaciente" class="btn btn-success">Añadir</button>
				<a class="btn btn-primary" href="index" role="button" id="aBtnReturn">Volver</a>
			</form>
		</div>
	</div>
</body>


</html>