<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
	<title>Clínica</title>
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/css/bootstrap.min.css">
  <script src="https://cdn.jsdelivr.net/npm/jquery@3.5.1/dist/jquery.slim.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/js/bootstrap.bundle.min.js"></script>
</head>

<body>
	<nav class="navbar navbar-expand-lg navbar-light bg-primary">
		<a class="navbar-brand" href="#">Clínica</a>
		<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
			aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
			<span class="navbar-toggler-icon"></span>
		</button>

		<div class="collapse navbar-collapse" id="navbarSupportedContent">
			<ul class="navbar-nav mr-auto">
				<li class="nav-item active">
					<a class="nav-link" href="index">Inicio <span class="sr-only">(current)</span></a>
				</li>
				<li class="nav-item dropdown">
					<a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button"
						data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
						Pacientes
					</a>
					<div class="dropdown-menu" aria-labelledby="navbarDropdown">
						<a class="dropdown-item" th:href="@{/pacientesView}">Mostrar pacientes.</a>
						<div class="dropdown-divider"></div>
						<a class="dropdown-item" th:href="@{/newPacienteView}">Añadir Paciente.</a>
					</div>
				</li>
				<li class="nav-item dropdown">
					<a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button"
						data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
						Medicos
					</a>
					<div class="dropdown-menu" aria-labelledby="navbarDropdown">
						<a class="dropdown-item" th:href="@{/medicosView}">Mostrar medicos.</a>
						<div class="dropdown-divider"></div>
						<a class="dropdown-item" th:href="@{/newMedicoView}">Añadir Medico.</a>
					</div>
				</li>
				<li class="nav-item dropdown">
					<a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button"
						data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
						Ingresos
					</a>
					<div class="dropdown-menu" aria-labelledby="navbarDropdown">
						<a class="dropdown-item" th:href="@{/ingresosView}">Mostrar ingresos.</a>
						<div class="dropdown-divider"></div>
						<a class="dropdown-item" th:href="@{/newIngresoView}">Añadir Ingresos.</a>
						<div class="dropdown-divider"></div>
						<a class="dropdown-item" th:href="@{/ingresospacienteView}">Ingresos por Paciente.</a>
						<div class="dropdown-divider"></div>
						<a class="dropdown-item" th:href="@{/ingresosmedicoView}">Ingresos por Medico.</a>
					</div>
				</li>
			</ul>
		</div>
	</nav>
	
	<div class="text-white bg-dark mb-3">
		<div class="card-header">Datos del nuevo paciente</div>
		<div class="card-body">
			<form th:action="@{/actAddPaciente}" th:object="${newPaciente}" method="POST">
				<div class="form-group">
					<label for="inpName">Nombre</label>
					<input type="text" required="required" class="form-control" id="inpName" name="nombre"
						placeholder="Nombre.">
				</div>
				<div class="form-group">
					<label for="inpApellido">Apellido</label>
					<input type="text" required="required" class="form-control" id="inpApellido" name="apellido"
						placeholder="Apellido.">
				</div>
				<div class="form-group">
					<label for="inpCP">Código Postal</label>
					<input type="number" required="required" class="form-control" id="inpCP" name="codigopostal"
						placeholder="Código Postal.">
				</div>
				<div class="form-group">
					<label for="inpDireccion">Dirección</label>
					<input required="required" type="text" class="form-control" id="inpDireccion" name="direccion"
						placeholder="Dirección.">
				</div>
				<div class="form-group">
					<label for="inpDate">Fecha Nacimiento</label>
					<input required="required" type="date" class="form-control" id="inpDate" name="fechanacimiento"
						placeholder="Dirección.">
				</div>
				<div class="form-group">
					<label for="inpPoblacion">Población</label>
					<input required="required" type="text" class="form-control" id="inpPoblacion" name="poblacion"
						placeholder="Población.">
				</div>
				<div class="form-group">
					<label for="inpProvincia">Provincia</label>
					<input required="required" type="text" class="form-control" id="inpProvincia" name="provincia"
						placeholder="Provincia.">
				</div>
				<div class="form-group">
					<label for="inpPhone">Teléfono</label>
					<input required="required" type="text" class="form-control" id="inpPhone" name="telefono"
						placeholder="Teléfono.">
				</div>

				<button type="submit" name="btnAddPaciente" class="btn btn-success">Añadir</button>
				<a class="btn btn-danger" href="index" role="button" id="aBtnReturn">Cancelar</a>
			</form>
		</div>
	</div>
</body>


</html>