<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
	<title>Clínica</title>
	<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/css/bootstrap.min.css">
	<script src="https://cdn.jsdelivr.net/npm/jquery@3.5.1/dist/jquery.slim.min.js"></script>
	<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"></script>
	<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/js/bootstrap.bundle.min.js"></script>
</head>

<body>
	<nav class="navbar navbar-expand-lg navbar-light bg-primary">
		<a class="navbar-brand" href="#">Clínica</a>
		<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
			aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
			<span class="navbar-toggler-icon"></span>
		</button>

		<div class="collapse navbar-collapse" id="navbarSupportedContent">
			<ul class="navbar-nav mr-auto">
				<li class="nav-item active">
					<a class="nav-link" href="index">Inicio <span class="sr-only">(current)</span></a>
				</li>
				<li class="nav-item dropdown">
					<a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button"
						data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
						Pacientes
					</a>
					<div class="dropdown-menu" aria-labelledby="navbarDropdown">
						<a class="dropdown-item" th:href="@{/pacientesView}">Mostrar pacientes.</a>
						<div class="dropdown-divider"></div>
						<a class="dropdown-item" th:href="@{/newPacienteView}">Añadir Paciente.</a>
					</div>
				</li>
				<li class="nav-item dropdown">
					<a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button"
						data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
						Medicos
					</a>
					<div class="dropdown-menu" aria-labelledby="navbarDropdown">
						<a class="dropdown-item" th:href="@{/medicosView}">Mostrar medicos.</a>
						<div class="dropdown-divider"></div>
						<a class="dropdown-item" th:href="@{/newMedicoView}">Añadir Medico.</a>
					</div>
				</li>
				<li class="nav-item dropdown">
					<a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button"
						data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
						Ingresos
					</a>
					<div class="dropdown-menu" aria-labelledby="navbarDropdown">
						<a class="dropdown-item" th:href="@{/ingresosView}">Mostrar ingresos.</a>
						<div class="dropdown-divider"></div>
						<a class="dropdown-item" th:href="@{/newIngresoView}">Añadir Ingresos.</a>
						<div class="dropdown-divider"></div>
						<a class="dropdown-item" th:href="@{/ingresospacienteView}">Ingresos por Paciente.</a>
						<div class="dropdown-divider"></div>
						<a class="dropdown-item" th:href="@{/ingresosmedicoView}">Ingresos por Medico.</a>
					</div>
				</li>
			</ul>
		</div>
	</nav>

	<div class="text-white bg-dark mb-3">
		<div class="card-header">Médicos</div>
		<div class="card-body">
			<table class="table table-striped table-dark">
				<thead class="thead-light">
					<tr>
						<th scope="col">Codigo</th>
						<th scope="col">Nombre</th>
						<th scope="col">Apellido</th>
						<th scope="col">Teléfono</th>
						<th scope="col">Especialidad</th>
						<th scope="col" th:hidden="${btnDropMedicoEnabled}">Eliminar</th>
						<th scope="col" th:hidden="${btnDropMedicoEnabled}">Editar</th>
					</tr>
				</thead>
				<tbody>
					<th:block th:each="medico : ${MedicosListView}">
						<tr>
							<td scope="row" th:text="${medico.codigo}" />
							<td scope="row" th:text="${medico.nombre}" />
							<td scope="row" th:text="${medico.apellido}" />
							<td scope="row" th:text="${medico.telefono}" />
							<td scope="row" th:text="${medico.especialidad}" />
							<td scope="row" th:hidden="${btnDropMedicoEnabled}">
								<form action="actDropMedico" method="post">
									<button th:disabled="${btnDropMedicoEnabled}" type="submit" id="btnDropMedico"
										name="medicoId" th:value="${medico.codigo}" class="btn btn-danger">▼</button>
								</form>
							</td>
							<td scope="row">
								<form action="editMedicosView">
									<button type="submit" id="btnEditMedico" name="medicoId" th:value="${medico.codigo}"
										class="btn btn-warning">Editar</button>
								</form>
							</td>
						</tr>
					</th:block>
				</tbody>
			</table>
		</div>
	</div>
</body>

</html>